* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: 0.3s ease;
}
label {
    height: 0;
    width: 0;
    visibility: hidden;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
body {
    background: var(--body-bg-clr);
    min-height: 100vh;
    position: relative;
}

::selection {
    background: rgb(2, 24, 148);
    color: rgb(255, 255, 255);
}
:root {
    --body-bg-clr: linear-gradient(
        145deg,
        rgb(238, 243, 248),
        rgb(132, 247, 199)
    );
    // rgb(231, 247, 240)

    --primary-clr: rgb(10, 162, 91);
    --normal-font-clr: rgb(10, 10, 10);
    --input-bg-clr: rgb(255, 255, 255);
    --input-focus-bg-clr: rgb(238, 238, 238);

    --note-list-bg-clr: linear-gradient(
        145deg,
        rgb(98, 250, 179),
        rgb(255, 170, 113)
    );
    // rgb(248, 103, 144),
    // --note-list-bg-clr: linear-gradient(
    //     145deg,
    //     rgb(255, 83, 121),
    //     rgb(31, 31, 230)
    // );
    --edit-btn-font-clr: green;
    --delete-btn-font-clr: rgb(172, 50, 2);
    // --edit-btn-bg-clr: green;
    // --delete-btn-bg-clr: rgb(189, 31, 39);
    --edit-btn-bg-clr: none;
    --delete-btn-bg-clr: none;

    --edit-btn-hover-font-clr: rgb(0, 163, 0);
    --delete-btn-hover-font-clr: rgb(189, 27, 35);
}
button {
    cursor: pointer;
}
main {
    // width: clamp(90vw, 150rem, 90vw);
    width: 90vw; //temp fix
    max-width: 150rem;
    margin: 0 auto;
    // border: 1px solid red;
}
header {
    width: 90vw;
    max-width: 150rem;
    margin: 0 auto;
    // border-bottom: 1px solid rgb(0, 27, 6);
    border-bottom: 1px solid rgb(190, 95, 6);
    h1 {
        font-size: clamp(2rem, 2.8rem, 3vw);
        font-weight: 100;
        margin: 0.5rem 0;
        @media screen and (max-width: 620px) {
            font-weight: bold;
        }
        span {
            color: rgb(231, 73, 118);
        }
    }
}
.note-input-section {
    // border:1px solid red;
    margin: 3rem auto;
    width: clamp(30rem, 60rem, 50vw);
    position: relative;
    @media screen and (max-width: 650px) {
        width: 100%;
    }
    input,
    textarea {
        width: 100%;
        border-radius: 0.3rem;
        font-size: clamp(1.8rem, 2.2rem, 3vw);
        font-family: inherit;
        letter-spacing: 0.1rem;
        padding: 0.3rem 0.5rem;
        resize: none;
        background: var(--input-bg-clr);
        color: var(--normal-font-clr);
        box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
        &:focus,
        &:focus-within {
            background: var(--input-focus-bg-clr);
        }
    }

    textarea {
        height: 15rem;
    }
    button {
        position: absolute;
        bottom: 0.2rem;
        right: 0.5rem;
        height: clamp(3.8rem, 4.5rem, 4vw);
        width: clamp(3.8rem, 4.5rem, 4vw);
        border-radius: 50%;
        font-size: clamp(3rem, 3.5rem, 4vw);
        // background: rgb(214, 48, 36);
        background: rgb(206, 248, 234);
        color: var(--primary-clr);
        &:hover {
            // background:rgb(10, 172, 91);
            transform: translateY(-0.5rem);
            color: var(--primary-clr);
            box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
            background: white;
        }
    }
}
.user-section {
    width: 90vw;
    margin: 0 auto 3rem auto;
    max-width: 150rem;
    text-align: center;
    font-size: clamp(2rem, 3rem, 3vw);
    font-weight: normal;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 12%;
        height: 2px;
        background: rgb(190, 95, 6);
        left: 50%;
        bottom: -0.7rem;
        transform: translateX(-50%);
    }
}
.note-output-section {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
    grid-gap: 2rem;
    justify-content: center;
    // align-items: center;
    margin-bottom: 4rem;
    min-height: 62vh;
    // height: 80vh;
    @media screen and (max-width: 620px) {
        grid-template-columns: 1fr;
    }
    .note-list {
        // border: 1px solid green;
        height: clamp(15rem, 20rem, 20vw);
        background: var(--note-list-bg-clr);
        color: var(--normal-font-clr);
        border-radius: 0.4rem;
        position: relative;
        box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
        &:hover,
        &:focus,
        &:focus-within {
            box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
        }
        @media screen and (max-width: 650px) {
            height: clamp(20rem, 25rem, 20vw);
        }
        h2 {
            border-bottom: 1px solid rgb(218, 116, 48);
            padding: 0.3rem 0.5rem;
            text-align: center;
            font-size: clamp(1.8rem, 2.2rem, 3vw);
            font-weight: bold;
            font-style: italic;
            @media screen and (max-width: 620px) {
                font-weight: bold;
            }
        }
        p {
            font-size: clamp(1.7rem, 2rem, 3vw);
            padding: 0.3rem 0.5rem;
            overflow: hidden;
            height: 55%;
        }
        button {
            position: absolute;
            bottom: 0.3rem;
            height: clamp(3rem, 3.5rem, 3vw);
            width: clamp(3rem, 3.5rem, 3vw);
            font-size: clamp(1.8rem, 2.2rem, 3vw);
            border-radius: 50%;
            color: var(--edit-btn-font-clr);

            &:hover {
                transform: translateY(-0.8rem);
                box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
                background: white;
            }
        }

        .edit-Note {
            left: 0.3rem;
            background: var(--edit-btn-bg-clr);
            &:hover {
                color: var(--edit-btn-hover-font-clr);
            }
        }
        .delete-Note {
            right: 0.3rem;
            background: var(--delete-btn-bg-clr);
            color: var(--delete-btn-font-clr);
            &:hover {
                color: var(--delete-btn-hover-font-clr);
            }
        }
    }
}
.editable-note {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    z-index: 1;
}
.editable-note-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    z-index: 1;
}
.note-output-section-active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}
.note-list-active {
    display: none;
}
.p-active {
    overflow: auto;
}
@keyframes create-active {
    0% {
        transform: translateY(-15rem);
        opacity: 0;
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes delete-active {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20rem) rotate(30deg);
        opacity: 0;
    }
}
@keyframes load-list {
    from {
        transform: perspective(20rem) translateY(20rem) translateZ(10rem)
            rotateX(20deg);
        // transform: perspective(30rem) rotateX(45deg)
        //     translate3d(30rem, 0rem, 20rem);
        opacity: 0;
    }
    to {
        // transform: translateY(0) translateZ(0);
        transform: translateY(0) rotateX(0);
        opacity: 1;
    }
}
