@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

label {
  height: 0;
  width: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  font-family: 'Poppins';
}

body {
  background: var(--body-bg-clr);
  height: 100vh;
  position: relative;
}

::-moz-selection {
  background: #021894;
  color: white;
}

::selection {
  background: #021894;
  color: white;
}

.light {
  --body-bg-clr: rgb(240, 255, 249);
  --header-bottom-border-clr: rgb(0, 163, 0);
  --primary-clr: rgb(3, 134, 73);
  --normal-font-clr: rgb(10, 10, 10);
  --create-btn-clr: rgb(206, 248, 234);
  --input-bg-clr: rgb(255, 255, 255);
  --placeholder-clr: rgb(22, 22, 22);
  --input-focus-bg-clr: rgb(238, 238, 238);
  --note-list-bg-clr: rgb(255, 255, 255);
  --edit-btn-font-clr: green;
  --delete-btn-font-clr: rgb(172, 50, 2);
  --edit-btn-bg-clr: none;
  --delete-btn-bg-clr: none;
  --edit-btn-hover-font-clr: rgb(0, 163, 0);
  --delete-btn-hover-font-clr: rgb(189, 27, 35);
}

.dark-theme {
  --body-bg-clr: rgb(30, 34, 36);
  --header-bottom-border-clr: rgb(190, 95, 6);
  --primary-clr: rgb(5, 255, 138);
  --normal-font-clr: rgb(236, 235, 235);
  --create-btn-clr: rgb(0, 116, 77);
  --input-bg-clr: rgb(8, 11, 12);
  --placeholder-clr: rgb(194, 194, 194);
  --input-focus-bg-clr: rgb(22, 22, 22);
  --note-list-bg-clr: rgb(12, 12, 12);
  --edit-btn-font-clr: green;
  --delete-btn-font-clr: rgb(172, 50, 2);
  --edit-btn-bg-clr: none;
  --delete-btn-bg-clr: none;
  --edit-btn-hover-font-clr: rgb(0, 163, 0);
  --delete-btn-hover-font-clr: rgb(189, 27, 35);
}

button {
  cursor: pointer;
}

main {
  width: 90vw;
  max-width: 150rem;
  margin: 0 auto;
}

header {
  width: 90vw;
  max-width: 150rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--header-bottom-border-clr);
}

header h1 {
  font-size: clamp(2rem, 2.8rem, 3vw);
  font-weight: 300;
  color: var(--normal-font-clr);
}

@media screen and (max-width: 620px) {
  header h1 {
    font-weight: 300;
  }
}

header button {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: clamp(7rem, 10rem, 5vw);
  height: clamp(3rem, 3rem, 4vw);
  border-radius: 888888888rem;
}

.note-input-section {
  margin: 3rem auto;
  width: clamp(30rem, 60rem, 50vw);
  position: relative;
}

@media screen and (max-width: 650px) {
  .note-input-section {
    width: 100%;
  }
}

.note-input-section input,
.note-input-section textarea {
  width: 100%;
  border-radius: 0.3rem;
  font-size: clamp(1.8rem, 2.2rem, 3vw);
  font-family: inherit;
  letter-spacing: 0.1rem;
  padding: 0.3rem 0.5rem;
  resize: none;
  background: var(--input-bg-clr);
  color: var(--normal-font-clr);
  -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.note-input-section input::-webkit-input-placeholder,
.note-input-section textarea::-webkit-input-placeholder {
  color: var(--placeholder-clr);
}

.note-input-section input:-ms-input-placeholder,
.note-input-section textarea:-ms-input-placeholder {
  color: var(--placeholder-clr);
}

.note-input-section input::-ms-input-placeholder,
.note-input-section textarea::-ms-input-placeholder {
  color: var(--placeholder-clr);
}

.note-input-section input::placeholder,
.note-input-section textarea::placeholder {
  color: var(--placeholder-clr);
}

.note-input-section input:focus, .note-input-section input:focus-within,
.note-input-section textarea:focus,
.note-input-section textarea:focus-within {
  background: var(--input-focus-bg-clr);
}

.note-input-section textarea {
  height: 15rem;
}

.note-input-section button {
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
  height: clamp(3.8rem, 4.5rem, 4vw);
  width: clamp(3.8rem, 4.5rem, 4vw);
  border-radius: 50%;
  font-size: clamp(3rem, 3.5rem, 4vw);
  background: var(--create-btn-clr);
  color: var(--primary-clr);
}

.note-input-section button:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  color: var(--primary-clr);
  -webkit-box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  background: white;
}

.user-section {
  width: 90vw;
  margin: 0 auto 3rem auto;
  max-width: 150rem;
  text-align: center;
  font-size: clamp(2rem, 3rem, 3vw);
  font-weight: 200;
  position: relative;
  color: var(--normal-font-clr);
}

.user-section:before {
  content: '';
  position: absolute;
  width: 12%;
  height: 2px;
  background: var(--header-bottom-border-clr);
  left: 50%;
  bottom: -0.7rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.note-output-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 35rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
  min-height: 62vh;
}

@media screen and (max-width: 620px) {
  .note-output-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.note-output-section .note-list {
  height: clamp(15rem, 20rem, 20vw);
  background: var(--note-list-bg-clr);
  color: var(--normal-font-clr);
  border-radius: 0.4rem;
  position: relative;
  -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.note-output-section .note-list:hover, .note-output-section .note-list:focus, .note-output-section .note-list:focus-within {
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
  .note-output-section .note-list {
    height: clamp(20rem, 25rem, 20vw);
  }
}

.note-output-section .note-list h2 {
  border-bottom: 1px solid var(--header-bottom-border-clr);
  padding: 0.3rem 0.5rem;
  text-align: center;
  font-size: clamp(1.8rem, 2.2rem, 3vw);
  font-weight: 300;
  font-style: italic;
}

@media screen and (max-width: 620px) {
  .note-output-section .note-list h2 {
    font-weight: bold;
  }
}

.note-output-section .note-list p {
  font-size: clamp(1.7rem, 2rem, 3vw);
  padding: 0.3rem 0.5rem;
  font-weight: 200;
  overflow: hidden;
  height: 55%;
}

.note-output-section .note-list button {
  position: absolute;
  bottom: 0.3rem;
  height: clamp(3rem, 3.5rem, 3vw);
  width: clamp(3rem, 3.5rem, 3vw);
  font-size: clamp(1.8rem, 2.2rem, 3vw);
  border-radius: 50%;
  color: var(--edit-btn-font-clr);
}

.note-output-section .note-list button:hover {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  background: white;
}

.note-output-section .note-list .edit-Note {
  left: 0.3rem;
  background: var(--edit-btn-bg-clr);
}

.note-output-section .note-list .edit-Note:hover {
  color: var(--edit-btn-hover-font-clr);
}

.note-output-section .note-list .delete-Note {
  right: 0.3rem;
  background: var(--delete-btn-bg-clr);
  color: var(--delete-btn-font-clr);
}

.note-output-section .note-list .delete-Note:hover {
  color: var(--delete-btn-hover-font-clr);
}

@-webkit-keyframes create-active {
  0% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(0) rotateX(35deg);
            transform: translateY(0) rotateX(35deg);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes create-active {
  0% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(0) rotateX(35deg);
            transform: translateY(0) rotateX(35deg);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes delete-active {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(20rem) rotate(30deg);
            transform: translateY(20rem) rotate(30deg);
    opacity: 0;
  }
}

@keyframes delete-active {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(20rem) rotate(30deg);
            transform: translateY(20rem) rotate(30deg);
    opacity: 0;
  }
}

@-webkit-keyframes load-list {
  from {
    -webkit-transform: perspective(120rem) translateY(15rem) translateZ(10rem) rotateX(20deg);
            transform: perspective(120rem) translateY(15rem) translateZ(10rem) rotateX(20deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(0) translateY(0) rotateX(0);
            transform: perspective(0) translateY(0) rotateX(0);
    opacity: 1;
  }
}

@keyframes load-list {
  from {
    -webkit-transform: perspective(120rem) translateY(15rem) translateZ(10rem) rotateX(20deg);
            transform: perspective(120rem) translateY(15rem) translateZ(10rem) rotateX(20deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(0) translateY(0) rotateX(0);
            transform: perspective(0) translateY(0) rotateX(0);
    opacity: 1;
  }
}

.toggle-edit {
  -webkit-transform: scale(1.5) translateX(-5%);
          transform: scale(1.5) translateX(-5%);
  z-index: 1;
  -webkit-box-shadow: 0 0 100rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 100rem rgba(0, 0, 0, 0.9);
}

.toggle-edit-mobile {
  z-index: 1;
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
  -webkit-box-shadow: 0 0 100rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 100rem rgba(0, 0, 0, 0.9);
}
/*# sourceMappingURL=style.css.map */